/* admin functions */
.admin-functions {
    border-radius: 12px;
    padding: 15px;
    border: 1px solid #a9c7d9;
    margin-bottom: 10px;
    background-color: #a9c7d9;
    color: rgb(41, 41, 41);
}

.admin-functions h3 {
    margin-bottom: 10px;
}

.admin-functions ul {
    list-style-type: none;
    padding: 0;
}

.admin-functions li {
    background-color: #a9c7d9a9;
    border-radius: 12px;
    padding: 5px 8px;
    transition: background-color 0.2s;
    color: rgb(41, 41, 41);
}

.admin-functions li:hover {
    background-color: #94B4C1;
}

.admin-functions a {
    text-decoration: none;
    color: rgb(41, 41, 41);
    display: block;
}

.admin-functions a:hover {
    color: rgb(41, 41, 41);
}

/* shows list */
.shows {
    border-radius: 12px;
    padding: 15px;
    border: 1px solid #a9c7d9;
}

.shows-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.search form, .sort form {
    display: flex;
    align-items: center;
    gap: 5px;
}

.shows-list {
    margin-top: 10px;
}

.shows-list ul {
    list-style-type: none;
    padding: 0;
}

.shows-list li {
    background-color: #a9c7d965;
    border-radius: 12px;
    padding: 8px 10px;
    margin-bottom: 4px;
    transition: background-color 0.18s;
    color: rgb(41, 41, 41);
}

.shows-list li:hover {
    background-color: #a9c7d9d6;
}

.shows-list a {
    text-decoration: none;
    color: rgb(41, 41, 41);
    display: block;
}

.shows-list a:hover {
    color: rgb(41, 41, 41);
}