/* general and navigation bar */
body {
    font-family: "Trebuchet MS", sans-serif;
}

h2, h3, ul, p {
    margin: 0;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a9c7d9;
    padding: 15px;
    color: rgb(41, 41, 41);
    border-radius: 12px;
    margin-bottom: 10px;
}

.navigation a {
    text-decoration: none;
    color: rgb(41, 41, 41);
}

.navigation a:hover {
    text-decoration: none;
    color: rgb(41, 41, 41);
    opacity: 0.4;
}

.user-container {
    display: flex;
    gap: 15px;
}

/* forms */
input[type="submit"] {
    background-color: #4c8bafe6;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 12px;
}

.button {
    background-color: #4c8bafe6;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
}

input[type="submit"]:hover,
.button:hover {
    background-color: #457d9e;
}

input[type="text"],
select,
textarea {
    border-radius: 12px;
    padding: 7px 10px;
    border: 1px solid #ccc;
    font-size: 12px;
}