.manage-genres-container {
    border-radius: 12px;
    padding: 15px;
    border: 1px solid #a9c7d9;
    margin-bottom: 12px;
    background-color: #a9c7d965;
    color: rgb(41, 41, 41);
}

.new-genre {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* existing genres */
.existing-genres-container {
    border-radius: 12px;
    padding: 15px;
    border: 1px solid #a9c7d9;
    margin-bottom: 12px;
    background-color: #a9c7d965;
    color: rgb(41, 41, 41);
}

.genres-list ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.genres-list li {
    padding: 3px 5px;
    color: rgb(41, 41, 41);
}