.register-container {
    border-radius: 12px;
    padding: 15px;
    border: 1px solid #a9c7d9;
    margin-bottom: 12px;
    background-color: #a9c7d965;
    color: rgb(41, 41, 41);
}

.register-header {
    margin-bottom: 10px;
}

.user-info {
    display: grid;
    grid-template-columns: 80px 1fr;
    padding: 8px 0px;
    gap: 10px;
}
