.watchlist-container {
    border-radius: 12px;
    padding: 15px;
    border: 1px solid #a9c7d9;
    margin-bottom: 12px;
}

.watchlist-shows ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.watchlist-shows li {
    background-color: #a9c7d965;
    border-radius: 12px;
    padding: 8px 10px;
    margin-bottom: 4px;
    transition: background-color 0.18s;
    color: rgb(41, 41, 41);
}

.watchlist-shows li:hover {
    background-color: #a9c7d9d6;
}

.watchlist-shows a {
    text-decoration: none;
    color: rgb(41, 41, 41);
    display: block;
}

.watchlist-shows a:hover {
    color: rgb(41, 41, 41);
}