{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="/static/add_show.css">


<title>Add show | Media Tracker</title>

<div class="add-show-container">

    <div class="add-show-header">
        <h2>Add new show</h2>
    </div>

    <form action="/add_show" method="post">

      <div class="title">
          <p>Show title:
          <input type="text" name="title" minlength="1" maxlength="100"></p>
      </div>

      <div class="genre">
          <p>Genre:
          <select name="genres" multiple>
              {% for genre in genres %}
                <option value="{{ genre.id }}">{{ genre.name }}</option>
              {% endfor %}
          </select></p>
      </div>

      <div class="type">
          <p>Show type:
          <select name="type">
              <option value="series">Series</option>
              <option value="movie">Movie</option>
          </select></p>
      </div>

      <div class="description">
          <p>Show description:
          <textarea name="description" rows="8" cols="40" maxlength="10000">
          </textarea></p>
      </div>

      <div class="release_date">
          <p>Release date:
          <input type="date" name="release_date"></p>
      </div>

        <input type="submit" value="Submit">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</div>

<a href="/" class="button">Return home</a>


{% endblock %}
