{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="/static/manage_genres.css">

<title>Manage genres | Media Tracker</title>

<div class="manage-genres-container">
    <div class="manage-genres-header">
        <h2>Add new genre</h2>
    </div>

    <form action="/manage_genres" method="post">
        <div class="new-genre">
            <p>Genre:
            <input type="text" name="genre_name" minlength="1" maxlength="100"></p>
        </div>
        <input type="submit" value="Submit">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</div>

<div class="existing-genres-container">
    <div class="existing-genres-header">
        <h2>Existing genres</h2>
    </div>

    <div class="genres-list">
        <ul>
            {% for genre in genres %}
                <li>{{ genre.name }}
                    <form action="/remove_genre" method="post" style="display: inline;">
                        <input type="hidden" name="genre_id" value="{{ genre.id }}">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input type="submit" value="Remove">
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<a href="/" class="button">Return home</a>

{% endblock %}
