{% extends "layout.html" %}
{% block content %}

<h2>Remove show</h2>


<form action="/remove_show" method="post">
    <label for="show_id">Select Show to Remove:</label>
    <select name="show_id" id="show_id">
        {% for show in shows %}
        <option value="{{ show.id }}">{{ show.title }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Remove">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<p><a href="/">Front page</a></p>

{% endblock %}
