{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="/static/show.css">

<title>{{ title }} | Media Tracker</title>

<div class="show-container">
    <div class="show-header">
        <h2>{{ title }}</h2>
        {% if session.user_id and session.user_role == 1 %}
            <form action="{% if in_watchlist %}/remove_from_watchlist{% else %}/add_to_watchlist{% endif %}" method="post">
                <input type="hidden" name="show_id" value="{{ id }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="submit" value="{% if in_watchlist %}Remove from my watchlist{% else %}Add to my watchlist{% endif %}">
            </form>
        {% endif %}
    </div>

    <div class="show-info">
        <ul>
            <li>Type: {{ type }}</li>
            <li>Genres: {{ genres | map(attribute='name') | join(', ') }}</li>
            <li>Description: {{ description }}</li>
            <li>Release Date: {{ release_date }}</li>
            <li>Rating: {{ avg_rating }}</li>
        </ul>
    </div>
</div>

{% if session.user_id and session.user_role == 1 %}
    <div class="make-review">
        <h3>Review show</h3>
        <form action="/review" method="post">
            Rating:
            <select name="stars">
                <option value="5">5
                <option value="4">4
                <option value="3">3
                <option value="2">2
                <option value="1">1
            </select>
            <p>
            Comment:<br>
            <textarea name="comment" rows="3" cols="40" maxlength="1000"></textarea>
            <p><input type="submit" value="Submit">
            <input type="hidden" name="show_id" value="{{ id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </div>
{% endif %}

{% if reviews %}
    <div class="reviews-container">
        <h3>Reviews</h3>
        <div class="reviews-list">
            <ul>
                {% for entry in reviews %}
                    <li> {{ entry.username }} ({{ entry.stars }}/5): "{{ entry.comment }}"
                    {% if session.user_id == entry.user_id %}
                        <form action="/remove_own_review" method="post" style="display: inline;">
                            <input type="hidden" name="show_id" value="{{ id }}">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            <input type="submit" value="Remove">
                        </form>
                    {% endif %}
                    {% if session.user_role == 2 %}
                        <form action="/remove_review_admin" method="post" style="display: inline;">
                            <input type="hidden" name="show_id" value="{{ id }}">
                            <input type="hidden" name="review_id" value="{{ entry.review_id }}">
                            <input type="hidden" name="user_id" value="{{ entry.user_id }}">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            <input type="submit" value="Remove">
                        </form>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

<a href="/" class="button">Return home</a>

{% endblock %}
